@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .primary-btn {
        @apply inline-block rounded-md
        bg-primary hover:bg-primary/50
        duration-200 py-2 px-6 text-white;
    }
    .outline-btn {
        @apply inline-block rounded-md border border-primary
        hover:bg-primary hover:text-white text-primary
        duration-200 py-2 px-6 ;
    }
    
}

@media (max-width: 640px) {
    .navbar-menu {
      display: none;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  .image-hover {
    transition: transform 0.3s ease-in-out;
  }
  
  .image-hover:hover {
    transform: scale(1.05);
  }
